@media screen and (min-width: 769px) and (max-width: 992px) {
    /*----header----*/
    .header{
        margin: auto;
        margin-bottom: 0;
        height: 300px;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    /*--logo--*/
    .logo{
        display: block;
        margin: auto;
        height: 147px;
        width: 175px;
    }
    .text_logo{
    position: relative;
    top: 120px;
    left: -8px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: azure;
    font-weight: bold;
    }
    .name_logo {
    margin: 0;
    padding: 0;
    position: relative;
    top: 60px;
    right: 58px;
}
    .logo>img {
    position: relative;
    left: 80px;
    bottom: 57px;
}
    /*--contact--*/
    .contact{
        margin: auto;
        width: 265px;
    }
    /*-----main-----*/
    .main{
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .wrapper{
        display: flex;
        flex-direction: row;
        }
    .article{
        margin: auto;
        margin-bottom: 30px;
    }
    .article:hover{
        transform: scale(1.2);
        
    }
 }